<!-- <div class="container">
    <div class="jumbotron">

      <div class="dayvalue" *ngFor="let item of historicUSData;">
        <h6 class="display-6">Date:{{ item.date }}, Negative:{{ item.negative}}, Positive: {{item.positive}}, Deaths: {{item.death}}</h6>
      </div>

    </div>
  </div> -->
<div class="titletag">
  <div class="display-4">Covid-19 Cases In United States</div>
  <div class="display-5">Data from The COVID Tracking Project - https://covidtracking.com</div>
</div>

<div id="result-list">
  <ul class="list-group">
    <li id="listelement" class="list-group-item" *ngFor="let item of historicUSData;">
      {{ item.date | dateFormat }}<br> Negative:{{ item.negative}}, Positive: {{item.positive}}, Deaths: {{item.death}},
      Death Increase: {{item.deathIncrease}}, Hospitalized: {{item.hospitalizedCurrently}}, Currently in ICU: {{item.inIcuCurrently}}
    </li>
  </ul>
</div>