<nav id="headtab" class="navbar navbar-expand-lg navbar-light bg-light">
  <p class="navbar-brand">Covid Data App</p>
  
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      US Data
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" routerLink="/historicus" routerLinkActive="active">Historic Data</a>
      <a class="dropdown-item" routerLink="/currentus" routerLinkActive="active">Current Data</a>
      <a class="dropdown-item" routerLink="/historicdateus" routerLinkActive="active">Historic Values By Date</a>
    </div>
  </div>

  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      States Data
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="/historicstate">All Historic State Values</a>
      <a class="dropdown-item" routerLink="/currentstate" routerLinkActive="active">All Current State Values</a>
      <a class="dropdown-item" href="/statedate">Values For State On Specific Date</a>
    </div>
  </div>

</nav>

<router-outlet></router-outlet>