<div class="container">
    

      <div id="dayvalue" *ngFor="let item of currentUSData;">
        Current Total Values in the US:
        <ul class="list-group">
          <li class="list-group-item">
            {{ item.date | dateFormat }}<br> Negative:{{ item.negative}}, Positive: {{item.positive}}, Deaths: {{item.death}},
      Death Increase: {{item.deathIncrease}}, Hospitalized: {{item.hospitalizedCurrently}}, Currently in ICU: {{item.inIcuCurrently}}
          </li>
        </ul>

        
      </div>

    
</div>